/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: #0a0a0a;
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #e5e5e5;
  padding: 25px;
  max-width: 900px;
  margin: auto;
}

/* TÍTULO PRINCIPAL */
h1 {
  color: #ef4444;
  font-size: 34px;
  margin-bottom: 10px;
  border-bottom: 3px solid #b91c1c;
  padding-bottom: 5px;
}

/* SUBTÍTULOS */
h2, h3 {
  color: #f87171;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* PÁRRAFOS */
p {
  background-color: #1a1a1a;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
  line-height: 1.6;
  border-left: 5px solid #ef4444;
}

/* LISTAS */
ul, ol {
  margin-left: 25px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 6px;
}

/* LINKS */
a {
  color: #f87171;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ef4444;
  text-decoration: underline;
}

/* IMÁGENES */
img {
  border-radius: 12px;
  margin-bottom: 15px;
  border: 3px solid #b91c1c;
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

/* TABLA */
table {
  width: 100%;
  margin-top: 10px;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #b91c1c;
  color: #fff;
}

td, th {
  padding: 12px;
  border-bottom: 1px solid #333;
}

/* FORMULARIO */
form {
  background-color: #111;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #b91c1c;
}

/* INPUTS */
input, textarea {
  background-color: #0a0a0a;
  color: #fff;
  border: 1px solid #ef4444;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

/* BOTÓN */
button {
  background-color: #b91c1c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #7f1d1d;
}

/* FOOTER */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}